
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STUDENT</title>
  <link rel="stylesheet" href="student.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <div class="wrapper">
    <form action="">
      <h1>STUDENT LOGIN FROM</h1>
      <div class="input-box">
        <input type="text" placeholder="NAME" required>
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <input type="text" placeholder="ROLL" required>
        <i class='bx bxs-id-card'></i>
      </div>

      <div class="input-box">
        <input type="password" placeholder="PASSWORD" required>
        <i class='bx bxs-lock'></i>
      </div>

      <a href="index.html"><button type="button" class="cancel">CANCEL</button></a>
      <button type="submit" class="login">LOGIN</button>
      


    </form>
  </div>

</body>
</html>